@page
@model IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Otrzymano: @Model.wynik</h1>
    <form method="post">
        <label asp-for="Liczba.liczba"></label>
        <input asp-for="Liczba.liczba" /><br />
        <button type="submit">Zatwierdź</button>
    </form>
</div>

